.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;

  > :nth-child(1) {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  > :nth-child(2) {
    position: absolute;
    top: 15%;
    left: 20%;
    h1 {
      color: #8d6e63;
    }
  }
  > :nth-child(4) {
    position: absolute;
    right: 20%;
  }
  button {
    cursor: pointer;
    height: 50px;
    width: 130px;
    text-align: center;
    border: none;
    background-image: linear-gradient(to right, #8d6e63, #bcaaa4, #d7ccc8);
    font-size: 18px;
    font-weight: 600;
    color: rgb(202, 245, 214);
    border-radius: 5%;
    div {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
    p {
      font-size: 18px;
      text-align: center;
      font-weight: 600;
      color: aliceblue;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  li {
    list-style-type: none;
    font-size: 1.2rem;
    text-align: left;
  }
}

.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row:first-child .cell {
  border-top: none;
}

.row:last-child .cell {
  border-bottom: none;
}

.cell:first-child {
  border-left: none;
}

.cell:last-child {
  border-right: none;
}
.cell {
  width: 7rem;
  height: 7rem;
  background-color: #f2f0e2;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 5px solid #8d6e63;
}
